<script data-main="/static/atlasModule.js" src="static/ext/requirejs/require.js"></script>


<div class="items">
<!-- ko foreach: { data: filteredNodes, afterAdd: animateAdd, beforeRemove: animateRemove } -->
   <div class="item">
        <node params="value: $data"></node>
   </div>
<!-- /ko -->
</div>

