@import "../../css/colors";

.dependency {
  background-color: #0d3349;
  box-shadow: 0px 3px 10px -4px rgba(0,0,0,0.75);
  width: 100%;
  border: 30px solid $backgroundColor;
  border-width: 3px 0px 0px 0px;

  .title {
    display: flex;
    justify-content: space-between;

    background-color: #000000;
    padding: 3px;
    margin-bottom: 0px;

    border: thick solid black;
    border-width: 0px 0px 0px 30px;

    &.ok {
      border-left-color: $green;
    }
    &.warning {
      border-left-color: $yellow;
    }
    &.error {
      border-left-color: $red;
    }

    .name {
      color: #ffffff;
      margin: 0px;
      font-family: 'Lato', sans-serif;
      font-size: 1em;
    }

    .version {
      text-align: right;
      color: #ffffff;
      font-family: 'Lato', sans-serif;
      font-size: 1em;
    }
  }
}