<div class="node">
    <div class="inner">
        <div class="title">
            <span class="name" data-bind="text: model.name"></span>
            <span class="version" data-bind="text: model.version"></span>
        </div>
        <div class="statusline" data-bind="css: {ok: model.status() === 'OK', warning: model.status() === 'WARNING', error: model.status() === 'ERROR'}"></div>

        <div style="width: auto; height: 150px;">
            <div data-bind="attr: { id: getId() }"></div>
        </div>

        <!-- ko foreach: model.dependencies -->
            <dependency params="value: $data"></dependency>
        <!-- /ko -->

   </div>
   <div class="end"></div>
</div>